/**************************** edit the login screen /****************************/
/* Background */
body {
  background-color: #000 !important;
  background-image: url('../images/login-bg-screen.jpg') !important;
  background-position: center;
  background-size: cover;
}
/* Form */
#loginform {
  background:rgba(255,255,255,0.75);
  border-radius:15px;
}
/* Logo */
.login h1 a {
  background-image: url('../images/boxedred-logo.svg') !important;
  width: 175px !important;
  background-size: contain !important;
  background-position: center !important;
  height: 75px !important;
  background-repeat: no-repeat !important;
}
/* Submit */
.submit .button-primary {
  background-color:  #fc003f !important;
  border:0 !important;
  color: #ffff;
  text-transform: uppercase !important;
  font-size:12px !important;
}
/* After Links */
#nav a {
  color: #ffffff !important;
}
#backtoblog a {
  color: #ffffff !important;
}
