/* Font Face Imports
================================================ */
/*  @font-face {
	font-family: 'Font Name';
	src: url('assets/fonts/font-name.eot');
	src: url('assets/fonts/font-name.eot?#iefix') format('embedded-opentype'),
		   url('assets/fonts/font-name.woff') format('woff'),
		   url('assets/fonts/font-name.ttf') format('truetype'),
		   url('assets/fonts/font-name.svg#font-name') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/

/* Font stacks
================================================ */
$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: "Georgia", Cambria, Times New Roman, Times, serif;
$font-default: $sans-serif;
$font-heading: $serif;

/* Base Typography
================================================ */
body {
  font-family: $font-default;
  font-size: 16px;
  line-height: 1.5;
  color: $text;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  font-weight:700;
}
// fallbacks for paragraph sizes //
p {
  font-size:16px;
  line-height: 24px;
  letter-spacing: -0.3px;
  @media only screen and (max-width: 520px) {
    font-size:15px;
    line-height: 22px;
    letter-spacing: -0.15px;
  }
}
// fallbacks for title sizes //
h1 {
  font-size:40px;
  line-height: 46px;
  @media only screen and (max-width: 520px) {
    font-size:36px;
    line-height: 42px;
  }
}
h2 {
  font-size:32px;
  line-height: 40px;
  @media only screen and (max-width: 520px) {
    font-size:28px;
    line-height: 34px;
  }
}
h3 {
  font-size:28px;
  line-height: 34px;
  @media only screen and (max-width: 520px) {
    font-size:24px;
    line-height: 30px;
  }
}
h4 {
  font-size:24px;
  line-height: 30px;
  @media only screen and (max-width: 520px) {
    font-size:20px;
    line-height: 26px;
  }
}
h5 {
  font-size:20px;
  line-height: 26px;
  @media only screen and (max-width: 520px) {
    font-size:18px;
    line-height: 24px;
  }
}
h6 {
  font-size:18px;
  line-height: 24px;
  @media only screen and (max-width: 520px) {
    font-size:16px;
    line-height: 22px;
  }
}
/* Links
================================================ */
a, a:visited {
	color: inherit;
	text-decoration: none;
}
