// Transitions //
@mixin transition_crosscomp($timing:0.5s) {
  transition:  $timing all;
  webkit-transition: $timing all;
  -moz-transition: $timing all;
  -ms-transition: $timing all;
  -o-transition: $timing all;
}
@mixin transition_crosscomp_selectprops($timing:0.5s,$property:left) {
  transition:  $timing $property;
  webkit-transition: $timing $property;
  -moz-transition: $timing $property;
  -ms-transition: $timing $property;
  -o-transition: $timing $property;
}
@mixin transition_delay_selectime($howlong:0.5s) {
  -webkit-transition-delay: $howlong;
  -moz-transition-delay: $howlong;
  -o-transition-delay: $howlong;
  transition-delay: $howlong;
}
// Border //
@mixin borderSolid($thick:2px,$color:#FF0000) {
  border:  $thick solid $color;
}
// box shadow //
@mixin boxShadowAU() {
  -webkit-box-shadow: -1px -1px 11px -3px rgba(0,0,0,0.25);
  -moz-box-shadow: -1px -1px 11px -3px rgba(0,0,0,0.25);
  box-shadow: -1px -1px 11px -3px rgba(0,0,0,0.25);
}
// flexy time //
@mixin flexboxau {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
// justify content
@mixin justify-contentau($value: flex-start) {
  @if $value == flex-start {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
  } @else if $value == flex-end {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
  } @else if $value == space-between {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
  } @else if $value == space-around {
    -ms-flex-pack: distribute;
  } @else {
    -webkit-box-pack: $value;
    -moz-box-pack: $value;
    -ms-flex-pack: $value;
  }
  -webkit-justify-content: $value;
  justify-content: $value;
}
// align items
@mixin align-itemsau($value: stretch) {
  @if $value == flex-start {
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
  } @else if $value == flex-end {
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
  } @else {
    -webkit-box-align: $value;
    -moz-box-align: $value;
    -ms-flex-align: $value;
  }
  -webkit-align-items: $value;
  align-items: $value;
}
// direction
@mixin flex-directionau($value: row) {
  @if $value == row-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    -moz-box-direction: reverse;
    -moz-box-orient: horizontal;
  } @else if $value == column {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
  } @else if $value == column-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
    -moz-box-direction: reverse;
    -moz-box-orient: vertical;
  } @else {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-direction: normal;
    -moz-box-orient: horizontal;
  }
  -webkit-flex-direction: $value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}
// align self
@mixin align-selfau($value: auto) {
  // No Webkit Box Fallback.
  -webkit-align-self: $value;
  @if $value == flex-start {
    -ms-flex-item-align: start;
  } @else if $value == flex-end {
    -ms-flex-item-align: end;
  } @else {
    -ms-flex-item-align: $value;
  }
  align-self: $value;
}

@mixin orderau($int: 0) {
  -webkit-box-ordinal-group: $int + 1;
  -moz-box-ordinal-group: $int + 1;
  -webkit-order: $int;
  -ms-flex-order: $int;
  order: $int;
}

@mixin flex-wrapau($value: nowrap) {
  // No Webkit/FF Box fallback.
  -webkit-flex-wrap: $value;
  @if $value == nowrap {
    -ms-flex-wrap: none;
  } @else {
    -ms-flex-wrap: $value;
  }
  flex-wrap: $value;
}
