body {
  background-color:#E3E3E3;
  margin:0;
  font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

header {
  background-color: black;
  padding:10px 20px;
  margin-bottom:50px;
}
.container {
  margin:0 auto;
  max-width:1200px;
  width:100%;
  display: flex;
  justify-content: center;
}
@media only screen and (min-width : 1215px) {
  .container {
    padding:0 15px;
  }
}
.form_Wrap {
  background-color: white;
  max-width:680px;
  padding:30px 40px 50px 40px;
  width:100%;
  position: relative;
}
.form_Wrap footer {
  position: absolute;
  bottom:0;
  left:0;right:0;
  width:100%;
  text-align: center;
  font-size:12px;
  padding:20px 0;
  color:#9B9B9B;
  margin-top:40px;
}

.form_Wrap h1 {
  font-weight:700;
  color:#D10019;
  margin-bottom:20px;
}
.form_Wrap p {
  font-weight:300;
  font-size:1rem;
  line-height: 28px;
}
.form_Wrap .innerFW {
  height:50px;
  margin-bottom:15px;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form_Wrap .innerFWckbx {
  display: flex;
  align-items: center;
  height:60px;
  margin-bottom:15px;
  font-size:11px;
  font-weight:400;
}
input[type=checkbox] {
  zoom: 1.5;
  background-color: white;
  margin-right:2px;
}
.form_Wrap .innerFW label {
  font-size:13px;
  font-weight:400;
}
.form_Wrap .innerFW input {
  max-width:450px;
  width:100%;
  height:50px;
  background-color: #F8F8F8;
  border:1px solid #E3E3E3;
}

.form_Wrap .innerFW .btn-styled {
  border:1px solid #D10019;
  color: #D10019;
  text-transform: uppercase;
  width:100%;
  padding:15px;
  border-radius:25px;
  font-size:14px;
  font-weight:700;
}

.form_Wrap a {
  color:#D10019;
}
