// remove this example styling //
#dummyContent {
  padding:25px 0 60px 0;
  .container {
    #starterSlider {
      margin-top: 40px;
      .item {
        height:400px;
        @include flexboxau();
        @include justify-contentau(flex-end);
        @include align-itemsau(flex-end);
        padding:35px 25px;
        color:$white;
      }
    }
    .overviewDep {
      margin-top: 50px;
    }
  }
}
