#Sitepages_wrap_br {
  display: flex;
  justify-content: space-around;
  padding-top:75px;
  .site_left_br {
    max-width:270px;
    width:100%;
    margin-right: 15px;
    @media only screen and (max-width: 768px) {
      margin-right:0;
    }
  }
  .site_right_br {
    max-width:600px;
    width:100%;
    @media only screen and (max-width: 768px) {
      margin-top:20px;
    }
  }
  h4 {
    color:$primary;
    font-size:22px;
    line-height: 24px;
    font-weight:600;
    margin-bottom:15px;
  }
  ul {
    list-style-type: disc;
    list-style-position: inside;
    li {
      font-size:16px;
      line-height:28px;
    }
  }
  @media only screen and (max-width: 768px) {
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
  }
}
